/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import 'izitoast/dist/css/iziToast.min.css';
@import 'simplelightbox/dist/simple-lightbox.min.css';

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}
* {
  box-sizing: border-box;
}
.container {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.form {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.search-input {
  font-family: inherit;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  outline: none;
}
.search-input:hover {
  border: 1px solid #000;
}
.search-input:active,
.search-input:focus {
  color: #000;
  border: 1px solid #4e75ff;
}
.search-btn {
  font-family: inherit;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.search-btn:hover,
.search-btn:focus {
  background: #6c8cff;
}

.loader {
}
.gallery-container {
}
.gallery {
}
